DEVICE=cuda
ASR_EN_MODEL=jonatasgrosman/wav2vec2-large-xlsr-53-english
ASR_TL_MODEL=Khalsuu/filipino-wav2vec2-l-xls-r-300m-official
OLLAMA_MODEL=yxchia/seallms-v3-7b:Q4_K_M
OLLAMA_BASE_URL=http://localhost:11434
DATABASE_URL=postgresql://readbuddy:readbuddy@localhost:5432/readbuddy
